body {
	color: #F3F2F3;
	background-color: #000;
}

::-moz-selection {
    background: #666;
    text-shadow: none
}

::selection {
    background: #666;
    text-shadow: none
}

h1,h2,h3 {
	color: #603ad0;
}

.posts .post .meta,
.list {
    font-size: 16px;
    color: #888;
    margin-top: 5px;
    margin-bottom: 10px;
    margin-left: 25px;
}

.meta {
	font-size: 16px;
	color: #888;
	margin-left: 0px;
	margin-right: 20px;
}

.description {
	color: #F3F2F3;
}

.post-tags .tags a {
	margin-left: 25px;
	color: #ddd;
}

.site-title a {
	color: #fff;
	text-decoration: none !important;
}

hr, .header nav,
.footer {
	border-color: #333;
	color: #888;
	max-width: 760px;
	text-align: center;
}

.highlight {
	background-color: #333;
}
