body {
	color: #F3F2F3;
	background-color: #000;
	margin: 5px;
}

::-moz-selection {
    background: #666;
    text-shadow: none
}

::selection {
    background: #666;
    text-shadow: none
}

hr {
    border-color: #333;
}

blockquote {
	border-color: #ddd;
}

h1,h2,h3,h4,h5,h6 {
	color: #603ad0;
}

.site-description a,
.site-description a:hover {
	color: #fff;
	text-decoration: underline;
}

.recent-posts .posts .post .meta,
.post .meta,
.list .posts .post .meta {
    font-size: 16px;
    color: #888;
    margin-bottom: 5px;
    margin-left: 25px;
}

.description {
		color: #F3F2F3;
}

.post-tags .tags a {
    border: 1px solid #ddd;
	color: #ddd;
}

.site-title a {
	color: #fff;
	text-decoration: none !important;
}

.header nav,
.footer {
	border-color: #333;
	color: #888;
}

.highlight {
	background-color: #333;
}
