body {
    font-family: "Crimson+Text", serif;
    font-weight: 500;
    color: #000;
    background-color: #FFF;
    line-height: 1.2;
    font-size: 17px;
    overflow-x: hidden;
    margin-left: 10px;
    margin-right: 10px;
    max-width: 100%;
}

.container {
    max-width: 100%;
    margin-left: 10px;
    margin-top: 15px;
}

.markdown {
    margin-left: 25px;
    margin-right: 25px;
    font-weight: 300;
}

b, strong {
    font-weight: 700;
}

i {
    font-weight: 566;
}

a {
    font-family: quicksand,sans-serif;
    color: #603ad0;
    text-decoration: none;
}

a:hover {
    font-family: quicksand,sans-serif;
    color: #8f75de;
  }

.active {
    font-family: quicksand,sans-serif;
    color: #8f75de;
}

html,button,input,select,textarea {
    color: #8f75de;
}

::-moz-selection {
    color: #8f75de;
}

::selection {
    color: #8f75de;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #f4f4f4;
    margin-left: 20px;
    margin-right: 20px;
}

img {
    margin: 5px auto;
    display: block;
    max-width: 100%;
    height: auto;
}

.logo {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    display: block;
    float: left;
}

h1,h2,h3 {
	color: #603ad0;
  font-family: quicksand,sans-serif;
  font-size: 16px;
}

h1 {
  font-family: quicksand,sans-serif;
    font-size: 30px;
    font-weight: 500;
    margin-left: 25px;
    margin-bottom: 2em;
}

h2 {
  font-family: quicksand,sans-serif;
    font-size: 22px;
    font-weight: 400;
    line-height: 1.4;
    margin-bottom: .5em;
    margin-top: 1.5em;
}

h3 {
  color: #f4f4f4;
}

.archive {
    text-align: right;
    margin-right: 25px;
}

ul {
    padding-left: 25px;
    list-style: disc inside;
}

ul.flat {
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 5px;
    margin-bottom: 0px;
    padding: 5px;
    line-height: 1;
}

ul.flat li {
    display: inline-block;
    font-size: 18px;
    list-style: none;
    margin-right: 5px;
    margin-left: 5px;
}

.flatfoot ul li {
    font-size: 14px;
    text-align: center;
}

.flatfoot-about {
    text-align: center;
    font-size: 12px;
}

.page-title {
    margin-left: 25px;
    margin-bottom: 0px;
    font-size: 30px;
    font-weight: 300;
}

.site-title {
    line-height: 66px;
    margin-bottom: 0px;
}

.site-title a {
    font-family: quicksand,sans-serif;
    color: #603ad0;
    text-decoration: none;
    font-size: 30px;
    margin-left: 10px;
    padding-top: 30px;
    margin-bottom: 1px;
}

.post ul li {
    margin-left: 25px;
    margin-top: 5px;
    margin-bottom: 10px;
}

.post ul li p {
    display: inline;
    margin-left: 25px;
}

.blogtitle {
    font-weight: 300;
    font-size: 18px;
}

.list a {
    font-size: 16px;
}

.wrapper {
    max-width: 760px;
    margin: 0 auto;
}

.header {
    margin-top: 10px;
    margin-bottom: 1px;
}

.header h1 {
    font-family: quicksand,sans-serif;
    font-size: 30px;
}

.header h2 {
    font-family: quicksand,sans-serif;
    margin: 0;
    padding: 0;
    font-size: 20px;
    line-height: 1.4rem;
}

.header nav {
    font-family: quicksand,sans-serif;
    border-top: 1px solid #f4f4f4;
    text-align: left;
    margin-top: 5px;
    margin-left: 20px;
    margin-right: 20px;
}

.header nav ul.flat li {
    display: inline-block;
    list-style: none;
}

.footer .site-description {
    justify-content: space-between;
}

.footer a {
    margin: 1px auto;
}

.footer .site-description nav {
    padding: 0;
    border: none;
    min-width: 30px;
}

.footer .site-description nav ul svg {
    max-height: 10px;
    margin-left: 5px;
    margin-bottom: 1px;
}

.footer .site-description nav.social {
    text-align: left;
}

.section .section-header {
    font-family: quicksand,sans-serif;
    font-size: 20px;
    font-weight: 300;
    text-transform: uppercase;
    color: #999;
    margin-bottom: 1px;
    letter-spacing: 1px;
}

.footer {
    font-family: quicksand,sans-serif;
    font-size: 0.75em;
    color: #999;
    border-top: 1px solid #f4f4f4;
    margin-top: 1px;
    margin-left: 25px;
    margin-right: 25px;
}

.page-title {
    font-family: quicksand,sans-serif;
    margin-bottom: 0px;
}

.pagination {
    margin: 0;
    padding: 0;
    text-align: left;
    display: flex;
    justify-content: space-between;
}

.pagination li {
    list-style: none;
    display: inline-block;
    margin: 0;
    padding: 0;
}

.pagination .page-prev {
    margin-right: 10px;
    padding-right: 10px;
}

.pagination .page-item.page-prev {
    text-align: left;
}

.pagination .page-item.page-next {
    text-align: right;
    margin-right: 25px;
}
