[submodule "/Users/brookshelley/brookshelley.github.com/public/micropub"]
	path = /Users/brookshelley/brookshelley.github.com/public/micropub
	url = https://github.com/skpy/micropub
[submodule "micropub"]
	path = micropub
	url = https://github.com/skpy/micropub
