<div class="footer">
		<ul class="flat">
				<li>
					<a href="/index.xml" title="rss"><img src="/rss.svg" alt="rss icon" height="20"width="20" /></a>
				</li>
				<li>
					<a href="https://twitter.com/brookshelley" title="twitter" rel="me"><img src="/twitter.svg" alt="twitter icon" height="20"width="20" /></a>
				</li>
				<li>
					<a href="https://buttondown.email/brookshelley" title="newsletter"><img src="/mail.svg" alt="rss icon" height="20"width="20" /></a>
				</li>
				<li>
					<a href="https://github.com/brookshelley" title="github" rel="me"><img src="/github.svg" alt="github icon" height="20"width="20" /></a>
				</li>
				<li>
					<a href="/about" title="about"><img src="/info.svg" alt="info icon" height="20"width="20" /></a>
				</li>
				<!-- indieweb components  -->
  			<link rel="authorization_endpoint" href="https://indieauth.com/auth" />
  			<link rel="token_endpoint" href="https://tokens.indieauth.com/token" />
  			<link rel="micropub" href="https://www.brookshelley.com/nanopub.php" />
		</ul>
	 brook 2020
</div>
