<div class="footer">
	<ul class="flat2">
			<li class="flat">
				<li>
					<a href="/index.xml" title="rss"><img src="/rss.svg" alt="rss icon" /></a>
				</li>
				<li>
					<a href="https://twitter.com/brookshelley" title="tweet" rel="me"><img src="/twitter.svg" alt="twitter icon" /></a>
				</li>
				<li>
					<a href="/tags/newsletter" title="newsletter"><img src="/mail.svg" alt="rss icon" /></a>
				</li>
				<li>
					<a href="https://github.com/brookshelley" title="github" rel="me"><img src="/github.svg" alt="github icon" /></a>
				</li>
				<li>
					<a href="/about" title="about"><img src="/info.svg" alt="info icon" height /></a>
				</li>
			</ul>
	© 2020 by brook shelley
</div>