<div class="header">
	<h1 class="site-title">
		<a href="{{ .Site.BaseURL }}"> <img class="logo" src={{ .Site.Params.logo }} alt="thanks helen" height="66"
				width="66" />
			{{ .Site.Title }}</a></h1>
	<!--div class="site-description"-->
	<nav class="nav">
		{{ $current := . }}
		<ul class="flat">
			{{ range .Site.Menus.main }}
			<li class="flat">
				{{ $active := or ($current.IsMenuCurrent "main" .) ($current.HasMenuCurrent "main" .) }}
				{{ $active = or $active (eq .Name $current.Title) }}
				{{ $active = or $active (and (eq .Name "archive") (eq $current.Section "posts")) }}
				{{ $active = or $active (and (eq .Name "media diet") (eq $current.Section "mediadiet")) }}
				<a href="{{ .URL }}" class="{{ if $active }}active{{ end }}">{{.Name }}</a>
			</li>
			{{ end }}
		</ul>
		<ul class="flat2">
			<li class="flat">
				<li>
					<a href="/index.xml" title="rss"><img src="/rss.svg" alt="rss icon" /></a>
				</li>
				<li>
					<a href="https://twitter.com/brookshelley" title="tweet" rel="me"><img src="/twitter.svg" alt="twitter icon" /></a>
				</li>
				<li>
					<a href="https://buttondown.email/brookshelley" title="newsletter"><img src="/mail.svg" alt="rss icon" /></a>
				</li>
				<li>
					<a href="https://github.com/brookshelley" title="github" rel="me"><img src="/github.svg" alt="github icon" /></a>
				</li>
				<li>
					<a href="/about" title="about"><img src="/info.svg" alt="info icon" height /></a>
				</li>
			</ul>
		</ul>
	</nav>
	<!--/div-->
</div>