<!DOCTYPE html>
<html lang="en">
{{ partialCached "header.html" . }}

<body>
	<div class="container wrapper">
		{{ partial "head.html" . }}
		<h1>blog</h1>
			<div class="posts">
				{{ $pages := where .Site.RegularPages "Type" "in" .Site.Params.mainSections }}
				{{ $paginator := .Paginate (where $pages "Params.hidden" "ne" true) }}
				{{ range $paginator.Pages }}
				<div class="post">
				<!--hr /-->
					<div class="meta">{{ dateFormat "Jan 2" .Date }}
						<a class="blogtitle" href="{{ .RelPermalink }}">{{.Title}}</a></div>
					</div>
					{{ end }}
				</div><div class="paginate">
						{{ template "partials/paginator.html" . }}</div>
				<!--h2 class="archive-left"><a href="/mediadiet">media diet</a><h2-->
				<h2 class="archive"><a href="/posts">archive</a></h2>
			</div>

			{{ partialCached "footer.html" . }}
		</div>
</body>
</html>
