<!DOCTYPE html>
<html lang="en">
{{ partialCached "header.html" . }}

<body>
	<div class="container wrapper">
		{{ partial "head.html" . }}
		<h1>blog</h1>
			<div class="posts">
				{{ $pages := where .Site.RegularPages "Type" "in" .Site.Params.mainSections }}
				{{ $paginator := .Paginate (where $pages "Params.hidden" "ne" true) }}
				{{ range $paginator.Pages }}
				<div class="post">
					<div class="meta"><li class ="blogdate">{{ dateFormat "02 Jan" .Date }}</li>
						<a class="blogtitle" href="{{ .RelPermalink }}">{{.Title}}</a></div>
					</div>
					{{ end }}
				</div><div class="paginate">
						{{ template "partials/paginator.html" . }}</div>
			<div><h2 class="archive"><a href="/posts">archive</a></h2></div>
{{ partialCached "footer.html" . }}
			</div>


		</div>
</body>
</html>
