body {
	color: #F3F2F3;
	background-color: #000;
}

::-moz-selection {
    background: #666;
    text-shadow: none
}

::selection {
    background: #666;
    text-shadow: none
}

h1,h2,h3 {
	color: #603ad0;
}

.posts .post .meta,
.list {
    color: #888;
}

.meta {
	color: #888;
}

.description {
	color: #F3F2F3;
}

.post-tags .tags a {
	color: #ddd;
}

.site-title a {
	color: #fff;
	text-decoration: none !important;
}

.highlight {
	background-color: #333;
}