:root {
  --font-body:Garamond,Georgia,Times,Times New Roman,serif;
  --font-head:-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",sans-serif;
  --font-small:clamp(16px,1.4vw,18px);
  --font-large:clamp(20px,1.4vw,22px)
  }
  
  body {
  font-family:var(--font-body);
  font-weight:200;
  color:#F3F2F3;
  background-color:#000;
  line-height:24px;
  font-size:var(--font-small);
  overflow-x:hidden;
  padding:.5em 1.2em;
  height:600px
  }
  
  .markdown {
  margin-left:.5em;
  margin-right:.5em;
  margin-bottom:1.6em;
  max-width:65ch
  }
  
  b,strong {
  font-weight:700
  }
  
  i {
  font-weight:200
  }
  
  .description {
  margin-left:80px;
  margin-top:10px;
  color:#F3F2F3
  }
  
  a {
  font-family:var(--font-head);
  color:#603ad0;
  text-decoration:none;
  font-weight:500
  }
  
  a:hover, .active {
  font-family:var(--font-head);
  color:#8f75de
  }
  
  html,button,input,select,textarea {
  color:#8f75de
  }
  
  ::-moz-selection {
  color:#8f75de
  }
  
  ::selection {
  color:#8f75de
  }
  
  hr {
  display:block;
  height:1px;
  border:0;
  border-top:1px solid #f4f4f4;
  margin-left:25px;
  margin-right:25px
  }
  
  img {
  width:100%;
  height:auto
  }
  
  .logo {
  margin-right:20px;
  max-width:66px;
  float:left
  }
  
  hr,.footer {
  max-width:100%;
  margin-bottom:5px;
  margin-left:0;
  text-align:left
  }
  
  h1,h2,h3 {
  color:#603ad0;
  font-family:var(--font-head);
  font-size:16px
  }
  
  h1 {
  font-size:22px;
  font-weight:500;
  margin-left:0;
  margin-bottom:1em
  }
  
  h1.title {
  font-size:28px;
  font-weight:500;
  margin:0 .5em 1em .3em
  }
  
  h1.title2 {
  font-size:28px;
  font-weight:500;
  margin-top:0;
  margin-bottom:1em;
  margin-right:.5em;
  margin-left:.5em
  }
  
  h2 {
  font-size:20px;
  font-weight:500;
  line-height:1.4;
  margin-bottom:1em;
  margin-top:.5em;
  color:#fffafa
  }
  
  h3 {
  margin-bottom:5px;
  font-weight:500;
  color:#fffafa
  }
  
  .archive {
  margin-top:0;
  margin-left:0;
  text-align:left;
  float:left;
  max-width:100%;
  grid-column:2
  }
  
  .archive-post a,li {
  text-align:left;
  font-size:16px;
  margin-left:0;
  margin-top:6px;
  margin-bottom:6px;
  font-weight:300px
  }
  
  ul {
  list-style-type:katakana;
  list-style-position:inside;
  padding:0
  }
  
  ul.flat {
  display:flex;
  padding:0;
  line-height:20px;
  width:100%;
  margin:0
  }
  
  ul.flat li {
  font-size:18px;
  list-style:none;
  text-align:left;
  justify-content:space-evenly
  }
  
  ul.flat2 li {
  display:inline-flex;
  font-size:18px;
  list-style:none;
  margin-right:10px;
  margin-left:0;
  margin-top:0
  }
  
  ul.flatfoot li {
  font-size:14px;
  text-align:left;
  margin-top:10px;
  margin-left:0;
  margin-right:0;
  background-color:#222
  }
  
  li {
  margin-right:0;
  margin:5px 10px
  }
  
  .flatfoot-about {
  text-align:center;
  font-size:12px;
  margin-left:0;
  margin-right:0;
  margin-bottom:5px
  }
  
  .page-title {
  margin-left:0;
  margin-top:10px;
  margin-bottom:0;
  font-size:var(--font-large);
  font-weight:500
  }
  
  .site-title {
  line-height:66px;
  font-size:37px;
  margin-bottom:0
  }
  
  .site-title a {
  font-family:var(--font-head);
  color:#fffafa;
  text-decoration:none;
  font-size:37px;
  margin-left:0;
  margin-bottom:1px
  }
  
  .post title {
  margin-top:10px;
  margin-bottom:15px
  }
  
  .posts .post .meta {
  font-size:18px;
  color:#888;
  margin-left:.5em
  }
  
  .list {
  font-size:14px;
  color:#888;
  margin-left:0
  }
  
  .post li {
  list-style-type:disc
  }
  
  .meta {
  font-family:var(--font-head);
  color:#888;
  margin-left:0;
  margin-right:0;
  padding-right:0;
  margin-bottom:0;
  float:left;
  width:100%;
  display:block
  }
  
  .paginate {
  font-family:var(--font-head);
  font-size:16px;
  color:#888;
  margin-left:0;
  margin-right:0;
  padding-right:0;
  float:left;
  width:100%;
  display:block
  }
  
  .archive-meta {
  font-family:var(--font-body);
  font-size:18px;
  color:#888;
  margin-left:0;
  margin-right:0;
  padding-right:0;
  width:100px
  }
  
  .post-tags .tags a {
  color:#ddd
  }
  
  .blogdate {
  display:block;
  float:left;
  margin-right:0;
  min-width:80px;
  font-size:var(--font-small)
  }
  
  .blogtitle {
  font-weight:300;
  font-size:var(--font-large);
  margin-right:0;
  display:block;
  word-wrap:normal;
  width:100%
  }
  
  .list a {
  font-size:18px
  }
  
  @media screen and (min-width: 65em) {
  .wrapper {
  display:grid;
  grid-template-columns:18em 40em 1fr;
  margin-left:2em;
  margin-right:auto;
  grid-template-rows:auto 10em
  }
  
  .header {
  grid-column-start:1;
  grid-row-start:1;
  position:relative;
  border-bottom:none
  }
  
  .footer {
  grid-column-start:2;
  float:right;
  position:relative;
  text-align:right
  }
  
  h1.title {
  margin-top:30px
  }
  
  .markdown {
  margin-top:2em
  }
  
  .posts {
  margin-top:2em
  }
  }
  
  .header {
  grid-column:1;
  display:inline;
  flex-direction:column
  }
  
  .nav img {
  max-height:20px;
  display:inline
  }
  
  .full-bleed {
  width:100%;
  grid-column:1 / 4
  }
  
  .header h1 {
  font-family:var(--font-head);
  font-size:var(--font-large)
  }
  
  .header h2 {
  font-family:var(--font-head);
  margin:0;
  padding:0;
  font-size:var(--font-large);
  line-height:1.4rem
  }
  
  .header nav {
  font-family:var(--font-head);
  text-align:left;
  font-size:var(--font-large);
  margin:0
  }
  
  nav ul.flat li {
  list-style:none;
  width:100%;
  font-size:var(--font-large)
  }
  
  nav.tags {
  font-size:var(--font-small);
  margin-left:0;
  float:right
  }
  
  .taglist {
  grid-column-start:2;
  margin-top:1em;
  margin-left:.5em
  }
  
  .section .section-header {
  font-family:var(--font-head);
  font-size:var(--font-large);
  font-weight:500;
  text-transform:uppercase;
  color:#999;
  margin-bottom:1px;
  letter-spacing:1px
  }
  
  .footer {
  font-family:var(--font-head);
  font-size:.75em;
  color:#696969;
  max-height:10px;
  width:100%;
  float:left
  }
  
  .page-title {
  font-family:var(--font-head);
  margin-bottom:0
  }