---
---

///  @import "{{ site.theme }}";

body {background-color: black; }
h1 {color: white; }
h2 {color: #36b6e9; }
h3 {color: white; }
p {color: white; }
ul {padding-left: 0; color: white; }
strong {color: white; }
a:link {color: #612ecd; text-decoration: none; }
a:active {color: #612ecd; text-decoration: none; }
a:visited {color: #612ecd; text-decoration: none; }
a:hover {color: #612ecd; text-decoration: none; }
