---
---

@import "{{ site.theme }}";

header {background-color: #000d0d; }
body {background-color: #000d0d; }
h1 {color: white; }
a:link {color: #8A2BE2; text-decoration: none; }
a:active {color: #8A2BE2; text-decoration: none; }
a:visited {color: #8A2BE2; text-decoration: none; }
a:hover {color: #8A2BE2; text-decoration: none; }
