<div class="footer wrapper">
	<nav class="nav">
		<div>
			<nav class="nav social">
			<ul class="flat">
				{{- range $index, $key := .Site.Params.Social -}}
				<a href="{{ $key.url }}" title="{{ $key.name }}"><i data-feather="{{ $key.icon }}"></i></a>
				{{- end -}}
			</ul>
		
		<ul class="flat"> {{ range .Site.Menus.footer }}
				<li class="align-center">
					<a href="{{ .URL }}">{{ .Name }}</a>
				</li>
				{{ end }}
			</ul>
			<li class="align-center">
			brook 2020
			</li>
		</div>
	</nav>
</div>

{{ if not .Site.IsServer }}
{{ template "_internal/google_analytics_async.html" . }}
{{ end }}
{{- with .Site.Params.Social -}}
<script>feather.replace()</script>
{{- end -}}