<!DOCTYPE html>
<html>
{{ partial "head.html" . }}

<body>
	<div class="container wrapper">
		{{ partial "header.html" . }}
	
	<div class="taglist">
		<h2 class="title2">{{ .Title }}</h2>
		<ul>
			{{ $t := .Site.GetPage "/tags" }}
			{{ range .Pages }}
			<ul>
				<a href={{ .Permalink  }}>{{ .Title }}&nbsp;&nbsp;
			</ul>
			{{ end }}
			</ul>
		<a href="https://buttondown.email/brookshelley">weekly updates</a>
		<br />
		<a href=/tags>all tags</a>
	  </div>

		{{ partial "footer.html" . }}

	</div>

</body>

</html>