<!DOCTYPE html>
<html>
{{ partial "head.html" . }}

<body>
	<div class="container wrapper">
		{{ partial "header.html" . }}
		<div>
		{{ $taxo := "tags" }}
<ul class="{{ $taxo }}">
    {{ with ($.Site.GetPage (printf "/%s" $taxo)) }}
        {{ range .Pages }}
            <li><a href="{{ .Permalink }}">{{ .Title}}</a></li>
        {{ end }}
    {{ end }}
</ul>
</div>

		<h2 class="page-title">All tags</h2>
		<ul>
    {{ range (.GetTerms "tags") }}
        <li><a href="{{ .Permalink }}">{{ .LinkTitle }}</a></li>
   {{ end }}
</ul>
		
		{{ partial "footer.html" . }}

	</div>

</body>

</html>
